<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKQGYjR4Ws9oYeB_5DJu7CUWCPC0mcoUg</string>
	<key>GCM_SENDER_ID</key>
	<string>424948448958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.humanresoucemanagement.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hr-management-dbe1c</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-management-dbe1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424948448958:ios:3436179316736ad42f68ef</string>
</dict>
</plist>